/*
* VARIABLES
*/
:root {
  --accentColorE: #c0c3c7;
  --accentColorD: #F0FBFF;
  --accentColor: #B7D5FD;

  --primaryColor: #fff;
  --primaryColorE: #eeeeee;

  --secondaryColor: #222;
  --secondaryColorA: #dedede;
  --secondaryColorF: #f2f2f2;

  --accentGradient: linear-gradient(var(--accentColor), var(--primaryColorE));
  --accentGradientA: linear-gradient(var(--accentColor), var(--accentColorD));
  --accentGradientInvert: linear-gradient(
    var(--primaryColorE),
    var(--accentColor)
  );
  --secondaryGradient: linear-gradient(
    var(--secondaryColorA),
    var(--primaryColorE)
  );
  --secondaryGradientInvert: linear-gradient(
    var(--primaryColorE),
    var(--secondaryColorA)
  );
}
/*
* VARIABLES
*/

* {
  font-family: sans-serif;
  font-size: 12px;
  position: relative;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: auto;
}

h1 {
  padding: 32px;
  font-size: 32px;
}

h2 {
  padding: 32px;
  font-size: 24px;
}

a {
  text-decoration: none;
}

details {
  margin: 0 1px;
  margin-bottom: 16px;
  margin-top: 4px;
  border: solid var(--accentColorE) 1px;
}
summary {
  padding: 2px 4px;
  background-image: linear-gradient(#f0fbff, #b7d5fd);
}
.form-autoMatchDebug {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.form-autoMatchDebug > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-autoMatchDebug label {
  display: flex;
  gap: 4px;
}

.form-autoMatchDebug label span {
  flex-basis: 100px;
  text-align: right;
}

.form-autoMatchDebug label input {
  height: 16px;
  min-width: 200px;
}

.form-autoMatchDebug button {
  height: 24px;
  width: 100px;
  border: solid #aaaaaa 1px;
  background-image: linear-gradient(#f0fbff, #e4e4e4);
}
.form-autoMatchDebug button:hover {
  background-image: linear-gradient(#e4e4e4, #f0fbff);
}

.recordContainer {
  margin: 4px;
}
.recordContainer > div {
  border: solid var(--accentColorE) 1px;
  margin: 4px;
}
